treebuilder-samples/spring-configurator/src/main/resources/META-INF/context-configuration.xsd

<xs:schema targetNamespace="https://github.com/WinZib/treebuilder/schema.xsd"
           xmlns="https://github.com/WinZib/treebuilder/schema.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="context-configurations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="context-configuration" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="context-configuration" type="context-configuration-type"/>

    <xs:complexType name="context-configuration-type">
        <xs:sequence>
            <xs:element name="config-class" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="parent-config-class" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="lazy-init" type="xs:boolean" default="true" use="optional"/>
        <xs:attribute name="application-context-class" type="xs:string" use="optional"/>
    </xs:complexType>
</xs:schema>